/*  project styles */

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

//variables
$margin: 1em;
$padding: 1em;
$color1: #000;
$color2: #283781;
$color3: tomato;
$color4: darkseagreen;
$color5: #777;
$color6: #fff;
$main-font: 'Lato', sans-serif;
$head-font: 'Raleway', sans-serif;

//mixins
@mixin headings($size) {
	font-family: $head-font;
	margin: 1rem 0rem;
	color: $color1;
	font-size: $size;
}

@mixin flex_container($flex-direction, $align-items, $justify-content, $wrap) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-wrap: $wrap;
}

//main tag styles

body {
	font-family: $main-font;
	font-weight: 300;
	margin: $margin * 2;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: $color4;
	border-bottom: none;
	transition: 0.5s;
}

a:hover {
	padding-bottom: 1px;
	border-bottom: 1px solid $color4;
	transition: 0.5s;
}

h1  {
	@include headings(2rem);
	a {
		color: inherit;
	}
	a:hover {
		border-bottom: none;
		color: $color4;
	}
  }


h2 {
	@include headings(1rem);
	color: $color5;
}

h3 {
	@include headings(1.4rem);
}

h4 {
	@include headings(1.4rem);
	margin-top: $margin * 4;
}

h5 {
	@include headings(1.2rem);
	margin-bottom: -0.8rem;	
}

ul {
	list-style: inside;
	margin-top: -0.5em;
	margin-bottom: 2em;
	margin-left: 1em;
}



//class & id styles

.wrap {
	@include flex_container(column, center, stretch, nowrap);
	max-width: 60em;
	margin: 0 auto;
}

//nav styles



.circle_container {
	@include flex_container(row, center, space-around, nowrap);
	max-width: 60rem;
	margin: 4em auto;
	margin-bottom: 2em;  		
}

.circle {
	// display: flex;
    width:25%;
    div {
	    float:left;
	    width:100%;
	    padding-top:50%;
	    line-height:1em;
	    margin-top:-0.5em;
	    text-align:center;
	    a {
		    font-family: 'Raleway', serif;
		    font-size: 1rem;
		    color: #fff;
		    letter-spacing: 1.5px;

		}
	}
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
}

.portfolio:after {
    background: $color2; 
}

.about:after {
    background: $color3; 
}

.contact:after {
    background: $color4; 
}

.circle:hover:after {
    background-color: blue;
}

//main body styles

.centered {
	text-align: center;
}

.italic {
	font-style: italic;
}

.button {
	background-color: $color5;
	color: $color6;
	border-radius: 16px;
	text-decoration: none;
	padding: 0.6em;
}

.blue {
	background-color: $color2;
}

.orange {
	background-color: $color3;
}

.green {
	background-color: $color4;
}


//resume

.about_text {
	@include flex_container(column, center, center, wrap);
	p, img {
		display: flex;
		width: 100%;
		margin-top: $margin;
		margin-bottom: $margin;
	}
}


.resume_section {
	@include flex_container(column, center, center, wrap);

}

.resume_title {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	border-radius: 1em;
	margin-top: $margin * 2;
	margin-bottom: $margin;
	h3 {
		color: $color6;
		text-align: center;
		letter-spacing: 1.5px;
	}
}

.resume_text {
	width: 100%;
	margin: $margin 0;
}



//media queries

@media (min-width: 700px) {

	//nav
	.circle div a {
		font-size: 1.2em;
	}

	//about
	.about_text {
		@include flex_container(row, center, space-between, nowrap);
		p {
			width: 65%;
		}
		img {
			width: 30%;
		}
	}

	//resume

	.resume_section {
		@include flex_container(row, stretch, space-between, nowrap)
	}

	.resume_title {
		width: 25%;
	}

	.resume_text {
		width: 75%;
		margin-left: $margin * 2;
		margin-top: $margin * 2;
	}

}